<div class="next-lunch" *ngIf="nextLuncheon">
  <h2>{{ 'NEXT_LUNCH' | translate }} <span *ngIf="nextLuncheon">{{ nextLuncheon.date | date: 'yyyy-MM-dd' }} {{ nextLuncheon.time }}</span></h2>
  <div *ngIf="nextLuncheon">
    <h3>{{ 'IS_BOSS' | translate: { boss: nextLuncheon.boss?.name } }}</h3>
    <div class="lunch-meta" *ngIf="nextLuncheon?.theme">
      <div class="lunch-meta-label">{{ 'THEME' | translate }}:</div>
      <div class="lunch-meta-content">{{ nextLuncheon.theme }}</div>
    </div>
    <div class="lunch-meta">
      <div class="lunch-meta-label">{{ 'BOSSES_CHOICE' | translate }}:</div>
      <div class="lunch-meta-content">
        <ng-template [ngIf]="!nextLuncheon.takeaway">
          <app-google-maps-link [address]="nextLuncheon.restaurant?.address" [zipCode]="nextLuncheon.restaurant?.zipCode" [city]="nextLuncheon.restaurant?.city">
            {{ nextLuncheon.restaurant?.name ? nextLuncheon.restaurant.name : '-- Area 51 --' }}<br/>
            {{ nextLuncheon?.restaurant?.name ? nextLuncheon.restaurant?.address : '-- Somewhere in Nevada --' }}
          </app-google-maps-link>
        </ng-template>

        <ng-template [ngIf]="nextLuncheon.takeaway">
          <app-google-maps-link [address]="nextLuncheon.takeawayTo?.address" [zipCode]="nextLuncheon.takeawayTo?.zipCode" [city]="nextLuncheon.takeawayTo?.city">
            {{ nextLuncheon?.takeawayTo?.name }}<br/>
            {{ nextLuncheon?.takeawayTo?.name ? nextLuncheon.takeawayTo?.address : '' }}
          </app-google-maps-link>
        </ng-template>
      </div>
    </div>
    <div class="lunch-meta" *ngIf="nextLuncheon.takeaway">
      <div class="lunch-meta-label">{{ 'TAKEAWAY_FROM' | translate }}:</div>
      <div class="lunch-meta-content">
        {{ nextLuncheon.restaurant?.name }} <a *ngIf="nextLuncheon.restaurant?.menuLink" [href]="nextLuncheon.restaurant?.menuLink" target="_blank"><i class="icon_link_alt"></i></a>
      </div>
    </div>
    <div class="lunch-meta">
      <div class="lunch-meta-label lunch-meta-label--center">
        <i class="icon_group"></i>
      </div>
      <div class="lunch-meta-content lunch-meta-content--center">
        <app-luncheon-attendants [attendants]="attendants">
          <span>{{ attendants?.length || 0 }}</span>
        </app-luncheon-attendants>
        <i class="icon_plus icon_plus--button icon_plus--button--sm icon_plus--button--on-gray" (click)="addAttendant.emit(true)"></i></div>
    </div>
  </div>
</div>