@import 'utils/variables';

:host {
	display: flex;
  align-items: center;
  margin-left: -$spacing-large;
  margin-right: -$spacing-large;
  justify-content: center;
  background-image: url(/assets/images/bg_pat.7d6ff1ea.png);
  padding-bottom: $spacing-largest;


	.lunch-meta {
		display: flex;
		flex-direction: column;

		+ .lunch-meta {
			margin-top: $spacing-semi-small;
		}

		@media (min-width: $breakpoint-sm) {
			flex-direction: row;
		}

		.lunch-meta-label {
			color: $color-green;
			flex: 1;
			margin: $spacing-semi-small 0;

			&--center {
				display: flex;
				align-items: center;
			}

			@media (min-width: $breakpoint-sm) {
				flex: 0 0 12.5rem;
				margin: 0;
			}
		}

		.lunch-meta-content {
			line-height: 1.3;

			a {
				color: $color-white;

				&:hover {
					color: $color-green;
				}
			}

			&--center {
				display: flex;
				align-items: center;

				i {
					margin-left: $spacing-semi-small;
				}
			}
		}
	}

	.next-lunch {
		background: $color-gray;
		color: $color-white;
		padding: $spacing-semi-large;
		width: 100%;
		max-width: 40rem;

		h2 {
			color: $color-green;
			display: flex;
			flex-direction: column;
			font-weight: $font-weight-standard;

			@media (min-width: $breakpoint-sm) {
				flex-direction: row;
				justify-content: space-between;
			}

			span {
				color: $color-white;

				@media (min-width: $breakpoint-sm) {
					text-align: right;
				}
			}
		}

		h3 {
			margin-bottom: 0;
			color: $color-white;
			font-weight: $font-weight-standard;
		}
	}
}
