@import 'utils/variables';

@keyframes rotate {
  100% { transform: rotate(360deg); }
}

@keyframes dash {
  0% { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50% { stroke-dasharray: 89, 200; stroke-dashoffset: -35; }
  100% { stroke-dasharray: 89, 200; stroke-dashoffset: -124; }
}

@keyframes color {
  100%, 0% { stroke: darken($color-green, 10%); }
  40% { stroke: $color-green; }
  66% { stroke: darken($color-green, 25%); }
  80%, 90% { stroke: darken($color-green, 15%); }
}

:host {
  display: none;

  &.visible {
    display: block;
  }

  .overlay {
    background-color: rgba($color-off-black, 0.5);
  }

  .spinner-container {
    background: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacing-large;
    width: 18rem;
    min-height: 14rem;
    margin: 0 auto;
    border-radius: .8rem;
  }

  .spinner {
    transition: opacity 0.05s ease-in-out;
    position: relative;
    margin: 0 auto;
    height: 10rem;
    width: 10rem;
    display: block;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .circular {
      animation: rotate 2s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    .path {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
      stroke-linecap: round;
    }
  }

  .message {
    display: flex;
    justify-content: center;
    margin-top: $spacing-semi-large;
    left: 0;
    width: 100%;
    color: $color-gray;
  }
}
