<div class="overlay">
  <div class="flex">&nbsp;</div>
  <div class="spinner-container">
  	<div class="spinner">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10"/>
			</svg>
		</div>
		<div class="message"><span>{{ message | translate }}</span></div>
  </div>
  <div class="flex">&nbsp;</div>
</div>