@import 'utils/variables';
@import 'utils/mixins';

.btn {
	@include button($color-gray-dark, $color-white);

	&.btn-success {
		@include button($color-green, $color-white);
	}

	&.btn-danger {
		@include button($color-red, $color-white);
	}
}