@import 'utils/variables';

@import 'dialogs/overlay';
@import 'dialogs/default';

md-dialog-container,
mat-dialog-container {

  app-dialog-default {
    @extend %dialog-default;
  }

  app-dialog-boss {
    @extend %dialog-default;
  }

  app-dialog-restaurant {
    @extend %dialog-default;
  }

  app-dialog-lunch {
    @extend %dialog-default;
  }

  app-dialog-lunch-attendant {
    @extend %dialog-default;
  }
}
