@import 'utils/variables';

@mixin button($background, $color, $border-color: $background) {
  font-family: $font-family-secondary;
	background-color: $background;
	color: $color;
	border: .2rem solid $border-color;
	padding: $spacing-standard $spacing-large;
	font-size: $font-size-small;
	line-height: 1.5;
	font-weight: $font-weight-medium;
	min-width: 18rem;
	border-radius: $spacing-largest;
	cursor: pointer;
	outline: none;
	transition: all .1s ease-out;

	&.hover,
	&:hover {

		&:not([disabled]) {
			opacity: .8;
		}
	}

	&.disabled,
	&[disabled] {
		cursor: not-allowed;
		background-color: $color-gray-light;
		border-color: $color-gray-light;
		color: lighten($color-gray-light, 30%);
	}
}
