<div class="dialog-content">
  <div class="dialog-form">
    <div class="form-group form-group--inline">
      <mat-form-field>
        <mat-select [placeholder]="'FORMS.BOSS.LABEL' | translate" [formControl]="form.get('bossId')">
          <mat-option *ngFor="let boss of bosses | orderBy:'name'" [value]="boss._id">{{ boss.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('bossId').hasError('required')">
          {{ 'FORMS.BOSS.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-checkbox [formControl]="form.get('attending')">{{ 'IM_ATTENDING' | translate }}</mat-checkbox>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="btn" (click)="dialogRef.close({ action: 'cancel' })">
      {{ 'CANCEL' | translate }}
    </button>
    <button class="btn btn-success" (click)="saveLunchAttendant()" [disabled]="form.invalid">
      {{ 'SAVE' | translate }}
    </button>
  </div>
</div>