<div class="dialog-content">
  <div class="dialog-title">
    <div><strong>{{ (lunch ? 'UPDATE_LUNCH' : 'ADD_LUNCH') | translate }}</strong></div>
  </div>
  <div class="dialog-form">
    <div class="form-group form-group--inline">
      <mat-form-field>
        <input matInput
              [matDatepicker]="picker"
              [placeholder]="'FORMS.DATE.LABEL' | translate"
              [formControl]="form.get('date')">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('date').hasError('required')">
          {{ 'FORMS.DATE.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput
              type="text"
              [placeholder]="'FORMS.TIME.LABEL' | translate"
              [formControl]="form.get('time')">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select [placeholder]="'FORMS.BOSS.LABEL' | translate" [formControl]="form.get('bossId')">
          <mat-option>{{ 'FORMS.BOSS.DEFAULT_OPTION' | translate }}</mat-option>
          <mat-option *ngFor="let boss of bosses | orderBy:'name'" [value]="boss._id">{{ boss.name }}</mat-option>
        </mat-select>
        <mat-hint *ngIf="suggestedNextBoss">{{ 'BOSS_X_TURN' | translate:{ boss: suggestedNextBoss?.name } }}</mat-hint>
        <mat-error *ngIf="form.get('bossId').hasError('required')">
          {{ 'FORMS.BOSS.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <mat-select [placeholder]="'FORMS.RESTAURANT.LABEL' | translate" [formControl]="form.get('restaurantId')">
          <mat-option>{{ 'FORMS.RESTAURANT.DEFAULT_OPTION' | translate }}</mat-option>
          <mat-option *ngFor="let restaurant of restaurants | orderBy:'name'"
                      [value]="restaurant._id">{{ restaurant.name }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-checkbox [formControl]="form.get('takeaway')">{{ 'FORMS.TAKEAWAY.LABEL' | translate }}</mat-checkbox>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput [placeholder]="'FORMS.THEME.LABEL' | translate" [formControl]="form.get('theme')">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-checkbox [formControl]="form.get('inactive')">{{ 'FORMS.INACTIVE.LABEL' | translate }}</mat-checkbox>
    </div>
    <div class="mat-hints">
      <div class="mat-hint">{{ 'INACTIVE_LUNCH_HINT' | translate }}</div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="btn" (click)="dialogRef.close({ action: 'cancel' })">
      {{ 'CANCEL' | translate }}
    </button>
    <button class="btn btn-success" (click)="saveLunch()" [disabled]="form.invalid">
      {{ 'SAVE_LUNCH' | translate }}
    </button>
  </div>
</div>