@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:400,500,700');

/* Colors
   ======================================================================= */

// Grayscale
$color-white:                 #fff;
$color-off-white:             #ECECEC;
$color-gray-light:            #939393;
$color-gray:                  #646464;
$color-gray-dark:             #525252;
$color-off-black:             #363636;
$color-black:                 #000000;

// Green
$color-green-light: 					#e2e572;
$color-green: 								#afc33c;
$color-green-dark:						#5d722e;

// Red
$color-red: 									#F44336;

/* Fonts
   ======================================================================= */

// Font family
$font-family-standard: 				'Open Sans', Arial, sans-serif !default;
$font-family-secondary: 			'Roboto', Arial, sans-serif !default;

// Font sizes
$font-size-largest:           2.8rem;
$font-size-larger:            2.4rem;
$font-size-large:             2rem;
$font-size-medium:            1.8rem;
$font-size-standard:          1.6rem;
$font-size-small:             1.4rem;
$font-size-smaller:           1.2rem;
$font-size-smallest:          1rem;

// Font weights
$font-weight-light:           300;
$font-weight-standard:        400;
$font-weight-medium:          500;
$font-weight-bold:            700;


/* Spacings and measurements
   ======================================================================= */

// Spacings
$spacing-largest:             3rem;
$spacing-large:               2rem;
$spacing-semi-large:          1.5rem;
$spacing-standard:            1rem;
$spacing-semi-small:          .5rem;
$spacing-small:               .2rem;

// Measurements
$measurement-html-min:        320px;

/* Breakpoints
   ======================================================================= */

// Breakpoints
$breakpoint-xs:           		430px;
$breakpoint-sm:           		768px;
$breakpoint-md:          			992px;
$breakpoint-lg:					      1200px;
