<div class="dialog-content">
  <div class="dialog-title">
    <div><strong>{{ (restaurant ? 'UPDATE_RESTAURANT' : 'ADD_RESTAURANT') | translate }}</strong></div>
  </div>
  <div class="dialog-form">
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput [placeholder]="'FORMS.NAME.LABEL' | translate" [formControl]="form.get('name')">
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{ 'FORMS.NAME.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput [placeholder]="'FORMS.ADDRESS.LABEL' | translate" [formControl]="form.get('address')">
      </mat-form-field>
    </div>
    <div class="form-group form-group--inline">
      <mat-form-field class="zip-code">
        <input type="text" matInput [placeholder]="'FORMS.ZIP_CODE.LABEL' | translate" [formControl]="form.get('zipCode')">
      </mat-form-field>
      <mat-form-field class="city">
        <input type="text" matInput [placeholder]="'FORMS.CITY.LABEL' | translate" [formControl]="form.get('city')">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput [placeholder]="'FORMS.MENU_LINK.LABEL' | translate" [formControl]="form.get('menuLink')">
      </mat-form-field>
    </div>
    <div class="form-group form-group--inline">
      <mat-checkbox [formControl]="form.get('inactive')">{{ 'FORMS.INACTIVE.LABEL' | translate }}</mat-checkbox>
      <mat-checkbox [formControl]="form.get('bot')">{{ 'FORMS.BOT.LABEL' | translate }}</mat-checkbox>
    </div>
    <div class="mat-hints">
      <div class="mat-hint">{{ 'INACTIVE_RESTAURANT_HINT' | translate }}</div>
      <div class="mat-hint">{{ 'RESTAURANT_BOT_HINT' | translate }}</div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="btn" (click)="dialogRef.close({ action: 'cancel'})">
      {{ 'CANCEL' | translate }}
    </button>
    <button class="btn btn-success" (click)="saveRestaurant()" [disabled]="form.invalid">
      {{ 'SAVE_RESTAURANT' | translate }}
    </button>
  </div>
</div>