@import 'utils/variables';

.dialog-default,
%dialog-default {

  .dialog-content {
    padding: $spacing-large $spacing-large * 2;
    background-color: $color-white;
  }

  .dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-larger;
    font-weight: $font-weight-medium;
  }

  .dialog-icon {
    margin-top: $spacing-large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;

    i {
      font-size: inherit;
    }
  }

  .dialog-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: $spacing-largest;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    padding-top: $spacing-standard;
    padding-bottom: $spacing-standard;
    max-height: 22rem;
    overflow-y: auto;

    ul {
      width: 100%;
      font-weight: $font-weight-standard;
      font-size: $font-size-standard;
    }
  }

  .dialog-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacing-largest;
    font-size: $font-size-medium;
    font-weight: $font-weight-light;
    overflow-y: auto;

    .mat-hints {
      font-size: $font-size-small;
      font-family: $font-family-secondary;
      margin-bottom: $spacing-large;

      .mat-hint {
        color: $color-gray;

        + .mat-hint {
          margin-top: $spacing-standard;
        }
      }
    }

    mat-checkbox {
      padding-bottom: 1.25em;
    }

    .form-group {
      width: 100%;
      margin-bottom: $spacing-semi-large;
      display: flex;
      flex-direction: column;

      mat-form-field {
        width: 100%;
      }

      &--inline {
        justify-content: space-between;
        align-items: baseline;

        @media (min-width: $breakpoint-md) {
          flex-direction: row;
        }

        mat-checkbox,
        mat-form-field {
          width: 100%;
          margin-bottom: $spacing-semi-large;

          &:last {
            margin-bottom: 0;
          }

          @media (min-width: $breakpoint-md) {
            margin-bottom: 0;
            width: calc(50% - #{$spacing-semi-large});

            &.zip-code {
              width: calc(30% - #{$spacing-semi-large});
            }

            &.city {
              width: calc(70% - #{$spacing-semi-large});
            }
          }
        }
      }
    }
  }

  .dialog-buttons {
    margin-top: $spacing-large;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
    }

    .btn {
      flex: 1;

      + .btn {
        margin-top: $spacing-standard;

        @media (min-width: $breakpoint-md) {
          margin-top: 0;
          margin-left: $spacing-standard;
        }
      }
    }
  }
}