@import 'utils/variables';

.overlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.cdk-overlay-backdrop {

  &.cdk-overlay-backdrop-showing {
    background-color: rgba($color-off-black, 0.5);
    opacity: 1 !important;
    @extend .overlay;
  }
}

md-dialog-container,
mat-dialog-container {
  box-shadow: none !important;
  max-width: 100% !important;
  background: none !important;
  min-width: 32rem;
  max-width: 64rem !important;
  width: 100% !important;
  max-height: calc(100vh - #{$spacing-large * 2});
  padding: 0 !important;

  .cdk-focus-trap-content {

    > * {
      @extend .overlay;
    }
  }
}
