@import 'utils/variables';

:host {
	position: relative;

	.attendants-anchor {
		cursor: pointer;
	}

	.attendants-content {
		display: none;
		width: 24rem;
		background: $color-green;
		padding: $spacing-semi-large;
		position: absolute;
		left: 0;
		top: 100%;
		z-index: 1;

		&.visible {
			display: inline-block;
		}

		@media (min-width: $breakpoint-sm) {
			transform: translateX(-40%);
		}

		h4 {
			color: $color-white
		}

		ul {
			color: $color-white;
		}
	}

	&:hover {

		.attendants-content {
			display: inline-block;
		}
	}
}
