<div class="dialog-content">
  <div class="dialog-title">
    <div><strong>{{ (boss ?  'UPDATE_BOSS' : 'ADD_BOSS') | translate }}</strong></div>
  </div>
  <div class="dialog-form">
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput [placeholder]="'FORMS.NAME.LABEL' | translate" [formControl]="form.get('name')">
        <mat-error *ngIf="form.get('name').hasError('required')">
          {{ 'FORMS.NAME.REQUIRED' | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-group form-group--inline">
      <mat-checkbox [formControl]="form.get('inactive')">{{ 'FORMS.INACTIVE.LABEL' | translate }}</mat-checkbox>
      <mat-checkbox [formControl]="form.get('bot')">{{ 'FORMS.BOT.LABEL' | translate }}</mat-checkbox>
    </div>
    <div class="mat-hints">
      <div class="mat-hint">{{ 'INACTIVE_BOSS_HINT' | translate }}</div>
      <div class="mat-hint">{{ 'BOSS_BOT_HINT' | translate }}</div>
    </div>
  </div>
  <div class="dialog-buttons">
    <button class="btn" (click)="dialogRef.close({ action: 'cancel'})">
      {{ 'CANCEL' | translate }}
    </button>
    <button class="btn btn-success" (click)="saveBoss()" [disabled]="form.invalid">
      {{ 'SAVE_BOSS' | translate }}
    </button>
  </div>
</div>