@import 'utils/variables';

html {
  font-size: 10px;
  min-width: $measurement-html-min;

  @media (min-width: $breakpoint-md) {
    font-size: 10px;
  }
}

body {
  font-family: $font-family-standard;
  font-size: $font-size-standard;
  color: $color-gray;
  background-image: url('/assets/images/bg_pat.7d6ff1ea.png');
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

main {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  top: 0;
  left: 0;

  @media (min-width: $breakpoint-sm) {
    width: calc(100vw + 1.7rem);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-secondary;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  margin-bottom: $spacing-standard;
  color: $color-green;
  text-transform: uppercase;
}

h1, h2 {
  font-weight: $font-weight-bold;
}

a {
  color: $color-green;
  font-weight: $font-weight-medium;
  display: inline-flex;
  align-items: center;
  text-decoration: none;

  i {
    margin-right: $spacing-standard;
  }

  &:active,
  &:visited {
    color: $color-green;
  }

  &:hover {
    color: $color-green-dark;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-bottom: $spacing-standard;
    margin-bottom: $spacing-standard;
    border-bottom: .1rem solid $color-off-white;

    &:first-of-type {
      margin-top: $spacing-standard;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// Override of Bootstrap grid gutterwidth
.container,
.container-fluid {
  padding: 0 $spacing-large;

  @media (min-width: $breakpoint-sm) {
    padding: 0;
  }
}
.row {
  margin-left: -$spacing-large;
  margin-right: -$spacing-large;

  [class*="col-"] {
    padding-left: $spacing-large;
    padding-right: $spacing-large;
  }
}

[routerLink]{
  cursor: pointer;
}

// General classes

.display-flex {
  display: flex;

  &.flex-center {
    align-items: center;
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.flex-end {
    align-items: center;
    justify-content: flex-end;
  }
}

.flex {
  flex: 1;
}

.position-relative {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.break-word {
  word-wrap: break-word;
}