<section class="container-fluid">
	<div class="row display-flex flex-center section-row">
		<div class="col-xs-12 col-sm-10 col-md-8 section-col">
			<app-luncheon-next-luncheon *ngIf="nextLunch"
																 [nextLuncheon]="nextLunch"
																 [attendants]="attendants[nextLunch._id]"
																 (addAttendant)="addLunchAttendant(nextLunch._id)"></app-luncheon-next-luncheon>

			<div class="tabs" [class.no-next-lunch]="!nextLunch">
				<h2 (click)="tab = 'lunch'" [class.active]="tab === 'lunch'">{{ 'LUNCHES' | translate }}</h2>
				<h2 (click)="tab = 'restaurant'" [class.active]="tab === 'restaurant'">{{ 'RESTAURANTS' | translate }}</h2>
				<h2 (click)="tab = 'boss'" [class.active]="tab === 'boss'">{{ 'BOSSES' | translate }}</h2>
			</div>

			<div class="tab-content lunch-section" [class.active]="tab === 'lunch'">
				<h3>
					{{ 'LUNCHES' | translate }}
					<i class="icon_plus icon_plus--button" (click)="addLunch()"></i>
				</h3>
				<ul>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-1">#</div>
							<div class="col-xs-12 col-sm-3">{{ 'RESTAURANT' | translate }}</div>
							<div class="col-xs-12 col-sm-3">{{ 'BOSS' | translate }}</div>
							<div class="col-xs-12 col-sm-3">{{ 'DATE' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let lunch of lunches | active | orderBy:'date':true; let i = index"
							[class.in-the-past]="lunch | inThePast">
						<div class="row">
							<div class="col-xs-12 col-sm-1">#{{ lunches | orderBy:'date' | index:lunch }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.restaurant?.name }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.boss?.name }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.date | date:'yyyy-MM-dd' }}</div>
							<div class="col-xs-12 col-sm-1">
								<app-luncheon-attendants [attendants]="attendants[lunch._id]">
									<span><i class="icon_group"></i>{{ attendants[lunch._id]?.length || 0 }}</span>
								</app-luncheon-attendants>
							</div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar">
								<i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addLunch(lunch)"></i>
								<i class="icon_trash_alt icon_trash_alt--interactive icon_trash_alt--interactive--danger" (click)="deleteLunch(lunch._id)"></i>
							</div>
						</div>
					</li>
				</ul>
				<div class="toggle-inactive-lunches">
					<i [class.arrow_carrot-2up]="showInactiveLunches"
						 [class.arrow_carrot-2down]="!showInactiveLunches"
						 (click)="showInactiveLunches = !showInactiveLunches"></i>
				</div>
				<ul class="inactive-lunches" [class.inactive-lunches--visible]="showInactiveLunches">
					<li><h4>{{ 'INACTIVE_LUNCHES' | translate }}</h4></li>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-1">#</div>
							<div class="col-xs-12 col-sm-3">{{ 'RESTAURANT' | translate }}</div>
							<div class="col-xs-12 col-sm-3">{{ 'BOSS' | translate }}</div>
							<div class="col-xs-12 col-sm-3">{{ 'DATE' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let lunch of lunches | active:true | orderBy:'date':true; let i = index"
							[class.in-the-past]="lunch | inThePast">
						<div class="row">
							<div class="col-xs-12 col-sm-1">#{{ lunches | orderBy:'date' | index:lunch }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.restaurant?.name }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.boss?.name }}</div>
							<div class="col-xs-12 col-sm-3">{{ lunch.date | date:'yyyy-MM-dd' }}</div>
							<div class="col-xs-12 col-sm-1">
								<app-luncheon-attendants [attendants]="attendants[lunch._id]">
									<span><i class="icon_group"></i>{{ attendants[lunch._id]?.length || 0 }}</span>
								</app-luncheon-attendants>
							</div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar">
								<i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addLunch(lunch)"></i>
								<i class="icon_trash_alt icon_trash_alt--interactive icon_trash_alt--interactive--danger" (click)="deleteLunch(lunch._id)"></i>
							</div>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-content restaurant-section" [class.active]="tab === 'restaurant'">
				<h3>
					{{ 'AVAILABLE_RESTAURANTS' | translate }}
					<i class="icon_plus icon_plus--button" (click)="addRestaurant()"></i>
				</h3>
				<ul>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-5">{{ 'RESTAURANT' | translate }}</div>
							<div class="col-xs-12 col-sm-7">{{ 'ADDRESS' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let restaurant of restaurants | active | restaurantAvailable:lunches | orderBy:'name'">
						<div class="row">
							<div class="col-xs-12 col-sm-5">
								<ng-template [ngIf]="restaurant.menuLink">
									<a [href]="restaurant.menuLink" target="_blank">{{ restaurant.name }}</a>
								</ng-template>
								<ng-template [ngIf]="!restaurant.menuLink">
									{{ restaurant.name }}
								</ng-template>
							</div>
							<div class="col-xs-12 col-sm-6">{{ restaurant.address }}<ng-template [ngIf]="restaurant.city">,<br/>{{ restaurant.zipCode }} {{ restaurant.city }}</ng-template></div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar"><i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addRestaurant(restaurant)"></i></div>
						</div>
					</li>
				</ul>
				<div class="toggle-visited-restaurants">
					<i [class.arrow_carrot-2up]="showVisitedRestaurants"
						 [class.arrow_carrot-2down]="!showVisitedRestaurants"
						 (click)="showVisitedRestaurants = !showVisitedRestaurants"></i>
				</div>
				<ul class="visited-restaurants" [class.visited-restaurants--visible]="showVisitedRestaurants">
					<li>
						<h4>{{ 'VISITED_RESTAURANTS' | translate }} <button class="btn btn-success" (click)="resetVisitedRestaurants()">{{ 'RESET_VISITED_RESTAURANTS' | translate }}</button></h4>
					</li>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-5">{{ 'RESTAURANT' | translate }}</div>
							<div class="col-xs-12 col-sm-7">{{ 'ADDRESS' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let restaurant of restaurants | restaurantAvailable:lunches:true | orderBy:'name'">
						<div class="row">
							<div class="col-xs-12 col-sm-5" [class.inactive]="restaurant.inactive">
								<ng-template [ngIf]="restaurant.menuLink">
									<a [href]="restaurant.menuLink" target="_blank">{{ restaurant.name }}</a>
								</ng-template>
								<ng-template [ngIf]="!restaurant.menuLink">
									{{ restaurant.name }}
								</ng-template>
							</div>
							<div class="col-xs-12 col-sm-6">{{ restaurant.address }}<ng-template [ngIf]="restaurant.city">,<br/>{{ restaurant.zipCode }} {{ restaurant.city }}</ng-template></div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar"><i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addRestaurant(restaurant)"></i></div>
						</div>
					</li>
				</ul>
			</div>

			<div class="tab-content boss-section" [class.active]="tab === 'boss'">
				<h3>
					{{ 'BOSSES' | translate }}
					<i class="icon_plus icon_plus--button" (click)="addBoss()"></i>
				</h3>
				<ul>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-12">{{ 'NAME' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let boss of bosses | active | orderBy:'name'">
						<div class="row">
							<div class="col-xs-12 col-sm-11">{{ boss.name }}</div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar"><i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addBoss(boss)"></i></div>
						</div>
					</li>
				</ul>
				<div class="toggle-inactive-bosses">
					<i [class.arrow_carrot-2up]="showInactiveBosses"
						 [class.arrow_carrot-2down]="!showInactiveBosses"
						 (click)="showInactiveBosses = !showInactiveBosses"></i>
				</div>
				<ul class="inactive-bosses" [class.inactive-bosses--visible]="showInactiveBosses">
					<li><h4>{{ 'INACTIVE_BOSSES' | translate }}</h4></li>
					<li class="list-header">
						<div class="row">
							<div class="col-xs-12 col-sm-12">{{ 'NAME' | translate }}</div>
						</div>
					</li>
					<li *ngFor="let boss of bosses | active:true | orderBy:'name'">
						<div class="row">
							<div class="col-xs-12 col-sm-11">{{ boss.name }}</div>
							<div class="col-xs-12 col-sm-1 display-flex flex-end col-toolbar"><i class="icon_pencil-edit icon_pencil-edit--interactive" (click)="addBoss(boss)"></i></div>
						</div>
					</li>
				</ul>
			</div>

		</div>
	</div>

</section>
