@import 'utils/variables';
@import 'utils/icons';

:host {
	padding: $spacing-largest 0 5rem;
	display: block;

	@media (min-width: $breakpoint-sm) {
		padding: $spacing-largest;
	}

	.section-row {
		padding: 0;
	}

	.section-col {
		background-color: $color-white;

		&--no-background {
			background: none;
		}

		.col-toolbar {

			i {
				font-size: 2.4rem;

				@media (min-width: $breakpoint-sm) {
					font-size: inherit;
				}

				+ i {
					margin-left: $spacing-large;

					@media (min-width: $breakpoint-sm) {
						margin-left: $spacing-standard;
					}
				}
			}
		}
	}

	.lunch-no {
		width: 4rem;
		display: inline-block;
	}

	.tabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: $spacing-largest;
		width: calc(100% + #{$spacing-large * 2});
		margin-left: -$spacing-large;
		margin-right: -$spacing-large;
		border-bottom: .3rem solid $color-green;

		@media (min-width: $breakpoint-sm) {
			flex-direction: row;
		}

		&.no-next-lunch {

			h2 {
				padding-top: $spacing-standard + .3rem;
			}
		}

		h2 {
			flex: 1;
			display: flex;
			justify-content: center;
			text-align: center;
			line-height: 1;
			padding: $spacing-standard $spacing-semi-large;
			margin-bottom: 0;
			cursor: pointer;
			background-color: $color-white;
			color: $color-gray;
			transition: all .1s ease-out;

			&:hover {
				background-color: $color-green;//lighten($color-green, 15%);
				color: $color-white;
			}

			&.active {
				background-color: $color-green;
				color: $color-white;
			}
		}
	}

	.tab-content {
		display: none;

		&.active {
			display: block;
		}

		ul {

			li {

				.col-xs-12 {
					line-height: 1.75;
				}
			}
		}
	}

	.toggle-inactive-lunches,
	.toggle-inactive-bosses,
	.toggle-visited-restaurants {
		display: flex;
		justify-content: center;
		font-size: 3rem;
		margin: $spacing-large 0;
		color: $color-green;

		i {
			cursor: pointer;
		}
	}

	.inactive-lunches,
	.inactive-bosses,
	.visited-restaurants {
		color: $color-gray-light;
		margin-top: $spacing-large;
		display: none;

		&--visible {
			display: block;
		}

		.inactive {
			text-decoration: line-through;
		}

		h4 {
			display: flex;
			align-items: flex-end;
    	justify-content: space-between;
		}
	}

	app-luncheon-attendants {

		.icon_group {
			margin-right: $spacing-standard;
		}
	}

	.in-the-past {
		color: $color-gray-light;
	}

	.lunch-section {
		margin-bottom: $spacing-large;
	}

	.list-header {
		text-transform: uppercase;
		font-weight: $font-weight-bold;
		color: $color-gray;
	}

	h3 {
		display: flex;
    align-items: center;

    i {
    	margin-left: $spacing-largest;
    }
	}
}